[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
databases = "*"
python-dotenv = "*"
httpx = "*"
aiosqlite = "*"
alembic = "*"
pyjwt = "*"
bcrypt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
